APP_NAME=laravel-project
APP_ENV=local
APP_KEY=base64:cLxHIr48AwVK0ESPgHF9ibuFX0BZp7GCIkrhatN0ub0=
APP_DEBUG=true
APP_URL=http://localhost:52877
APP_TIMEZONE=Europe/Moscow
CONCURRENCY_DRIVER=fork

NGINX_HOST=http://service-nginx
NGINX_HTTP_PORT=52877
POSTGRES_PORT=54359
UID=1000

DB_CONNECTION=pgsql
DB_HOST=service-db
DB_PORT=5432
DB_DATABASE=database-1
DB_USERNAME=database-1
DB_PASSWORD=database-1

LOG_CHANNEL=stderr
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

RABBITMQ_DEFAULT_USER=rabbitmq
RABBITMQ_DEFAULT_PASS=rabbitmq

RABBITMQ_HOST=rabbit
RABBITMQ_LOGIN=rabbitmq
RABBITMQ_PASSWORD=rabbitmq
RABBITMQ_PORT=5672

QUEUE_CONNECTION=rabbitmq
RABBITMQ_QUEUE=default

REDIS_CLIENT=phpredis
REDIS_PREFIX=docker-ll1_
REDIS_HOST=redis
REDIS_PASSWORD=redis
REDIS_PORT=6379
